
.BOX1,.BOX2,.BOX3,.BOX4,.BOX5,.BOX6,.BOX7,
.BOX8,.BOX9,.BOX10,.BOX11,.BOX12,.BOX13,.BOX14,.BOX15,.BOX16,.BOX17,.BOX18,.BOX19,.BOX20{
       width:400px;
       height: 300px;
       text-align: center;
       margin: 5px;
       display: inline-block;
       padding: 20px;
      }

      .BOX21,.BOX22,.BOX23,.BOX24,.BOX25,.BOX26,
         .BOX27,.BOX28,.BOX29,.BOX30{
            width:400px;
       height: 300px;
       text-align: center;
       margin: 5px;
       display: inline-block;
       padding: 20px;
       color: #fff;
         }
         .CONTAINER31,.CONTAINER32{
          width:400px;
          height:300px;
          display:inline-block; 
          padding:20px;
          color: rgb(255, 255, 255);
         margin: 2px;
         }